@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-lightgray;
  }

  h1 {
    @apply font-manrope text-[56px] font-bold leading-[58px] tracking-[2px];
  }

  h2 {
    @apply font-manrope text-[40px] font-bold leading-[44px] tracking-[1.5px];
  }

  h3 {
    @apply font-manrope text-[32px] font-bold leading-[36px] tracking-[1.15px];
  }

  h4 {
    @apply font-manrope text-[28px] font-bold leading-[38px] tracking-[2px];
  }

  h5 {
    @apply font-manrope text-[24px] font-bold leading-[33px] tracking-[1.7px];
  }

  h6 {
    @apply font-manrope text-[18px] font-bold leading-[24px] tracking-[1.3px];
  }

  p {
    @apply font-manrope text-[15px] font-medium leading-[25px];
  }

  a {
    @apply font-manrope text-[13px] font-bold leading-[25px] tracking-[2px] hover:text-orange;
  }

  input {
    @apply mt-[9px] h-14 w-full rounded-lg px-6 font-manrope text-[14px] font-bold leading-[19px] outline-none ring-1 ring-[#CFCFCF] placeholder:opacity-40 focus:ring-orange;
  }
}

@layer components {
  .form-title {
    @apply text-[12px] font-normal leading-[16px] tracking-[8.5px] text-orange lg:text-[14px] lg:leading-[19px] lg:tracking-[10px];
  }

  .form-label {
    @apply font-manrope text-[12px] font-bold leading-[16px] tracking-[-0.2px];
  }

  .sub-title {
    @apply text-[13px] font-bold leading-[25px] tracking-[1px] text-orange;
  }

  .mobmenu-h {
    @apply font-manrope text-[15px] font-bold uppercase leading-[20px] tracking-[1.1px];
  }

  .mobmenu-p {
    @apply font-manrope text-[13px] font-bold leading-[18px] tracking-[1px] opacity-50 hover:text-orange hover:opacity-100;
  }

  .mobMenuScroll::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
  }

  .mobMenuScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .mobCartScroll::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
  }

  .mobCartScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
